body {
  background-color: #191919;
}

li {
  list-style-type: none;
}

h1 {
  visibility: hidden;
}

.hours {
  color: #8A8A8A;
  font-size: 2rem;
  font-family: 'Agency FB', arial;
  position: relative;
  text-align: center;
  top: 550px;
  float: left;
  list-style-type: none;
  right: 200px;

}

.weekdays {
  color: #8A8A8A;
  position: relative;
  margin-top: 150px;
  font-family: 'Agency FB', arial;
  font-size: 2rem;
  float: left;
  padding: 1%;
  left: 450px;
}

.currentMode {
  color: #00FF97;
}

#time {

  font-family: 'Agency FB', arial;
  position: absolute;
  text-align: center;
  color: #00FF97;
}

/* responsiveness */
/*phone responsiveness*/
@media only screen
and (max-width : 1069px)

 {
  #time{
  font-size: 7.5rem;
  top: 450px;
  left: 300px;

  }
  .hours{
    top: 650px;
    right: 175px;
  }
  .weekdays{
    left: 200px;
    margin-top: 300px;
    font-size: 1rem;
  }
}


/*medium responsiveness*/
@media only screen
and (min-width : 1070px)
 {
  #time{
  font-size: 11rem;
  top: 300px;
  left: 420px;

  }
  .hours{
    top: 550px;
    right: 200px;

  }
  .weekdays{
    left: 300px;
    font-size: 1.5rem;
    margin-top: 175px;

  }
}

/*large responsiveness*/
@media only screen
and (min-width : 1365px)
 {
  #time{
  font-size: 12rem;
  top: 300px;
  left: 650px;

  }
  .hours{
    top: 550px;
    right: 50px;

  }
  .weekdays{
    left: 500px;

    margin-top: 175px;

  }
}
